body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background-image: -webkit-linear-gradient(330deg, #ff5858 0%, #f09819 100%);
  background-image: -o-linear-gradient(330deg, #ff5858 0%, #f09819 100%);
  background-image: linear-gradient(60deg, #ff5858 0%, #f09819 100%);
  font-family: fantasy;
  color: yellow;
  text-align: center;
}


.headerSection {
  font-weight: bold;
  margin-top: 5px;
  text-align: left;
  margin-left: 50px;
}

.heading {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}

#logo {
  display: inline-block;
  vertical-align: middle;
  height: 80px;
}

.takePhoto, .chooseAgain {
  background-color: white;
  color:  #f09819;
  border: 5px white;
  width: 200px;
  position: relative;
  margin: 0 auto;
  padding: 5px 0px;
  border-radius: 10px;
  font-size: 25px;
  font-family: 'Arial';
  margin-top: 10px;
  display: none;
}

.addGhostSelector {
  color:  white;
  border: 5px white;
  width: 600px;
  position: relative;
  margin: 0 auto;
  padding: 5px 5px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Arial';
  margin-top: 10px;
  display: block;
}

.addGhost, .removeGhost {
  font-size: 20px;
  margin-left: 10px;
  width: 200px;
  padding: 5px 10px;
  border-radius: 5px;
}

.addGhost:hover, .removeGhost:hover {
  cursor: pointer;
  border: 3px solid yellow;
}

.addGhost {
  background-color: limegreen;
}

.removeGhost {
  background-color: crimson;
}

.takePhoto:hover, .chooseAgain:hover {
  background-color: #f09819;
  color: yellow;
  border: 5px solid yellow;
  width: 220px;
  position: relative;
  margin: 0 auto;
  padding: 5px 0px;
  border-radius: 10px;
  font-size: 28px;
  font-family: 'Arial';
  cursor: pointer;
  margin-top: 20px;
}

.rgb {
  padding-top: 10px;
  font-size: 20px;
  width: 400px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.blue {
  color: white;
  background-color: cyan;
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 25px;
  text-align: center;
}

.blue:hover, .green:hover, .red:hover, .rainbow:hover, .noFilter:hover {
  cursor: pointer;
  border: 4px solid yellow;
}

.green {
  color: white;
  background-color: limegreen;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 10px;
  height: 25px;
  text-align: center;
}

.red {
  color: white;
  background-color: crimson;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 10px;
  height: 25px;
  text-align: center;
}

.noFilter {
  color: black;
  background-color: white;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 150px;
  height: 25px;
  font-size: 16px;
  text-align: center;
}

.rainbow {
    color: white;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 25px;
    text-align: center;
}

.player {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    border-radius: 5px;
}

.photo {
  margin-top: 15px;
  margin-bottom: 2px;
  height: 200px;
  display: inline-block;
}

.canvasDiv {
  display: inline-block;
}

.strip {
}

.strip img {
  width: 100px;
  overflow-x: scroll;
  padding: 1rem 1rem 2.5rem 1rem;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background: white;
}

a {
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

a:hover {
  cursor: pointer;
  background-color: yellow;
  text-decoration: underline;
  display: inline-block;
}

@media only screen and (max-device-width: 480px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .headerSection {
    margin: 0 auto;
    margin-top: 10px;
  }
  #logo {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    margin-left: 10px;
  }
  .heading {
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 5px;
      margin-left: 5px;
      display: inline-block;
      vertical-align: middle;
  }
  .player {
    display: none;
  }
  .rgb {
    padding-top: 10px;
    font-size: 16px;
    width: 300px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.noFilter {
  width: 100px;
}

.noFilter, .rainbow, .red, .green {
  margin-right: 5px;
}
canvas {
  height: 200px;
}
.photoBooth {
  width: 300px;
}

}
